@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
    width: 100%;
}

.container {
    background-color: #EDE7F6;
    height: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 92%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.nav-buttons > button {
    margin-left: 10px;
    width: 100px;
}