<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Tasks</mat-card-title>
    <mat-card-subtitle>Form</mat-card-subtitle>
      <div class="nav-buttons">
      <button mat-icon-button color="primary" routerLink="/tasks">
        <mat-icon>view_list</mat-icon>List
      </button>
      <button mat-icon-button color="primary" routerLink="/tasks/new">
        <mat-icon>add</mat-icon>New Task
      </button>
      <button mat-icon-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>Save
      </button>
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>Go Back
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="task">
      <mat-form-field appearance="standard">
        <mat-label>Id</mat-label>
        <input matInput [(ngModel)]="task.id" disabled>
      </mat-form-field>
      <mat-form-field appearance="standard">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="task.status">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{status.label}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="task.title" placeholder="My Title">
      </mat-form-field>
      <!-- <mat-form-field appearance="standard">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="task.description" placeholder="My Description"></textarea>
      </mat-form-field> -->

      <ckeditor [editor]="Editor" [(ngModel)]="task.description"></ckeditor>
      <!-- <ngx-wig [(ngModel)]="task.description" ></ngx-wig> -->
      
      </div>      
  </mat-card-content>
</mat-card>



<app-task-comment *ngIf="task.id" [comments]="task.comments" [taskId]="task.id"></app-task-comment>