<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Add Comment</mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <button mat-icon-button color="primary" (click)="add();"><mat-icon>add</mat-icon>Add</button>      
      <ckeditor [editor]="Editor" [(ngModel)]="comment"></ckeditor>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Comments</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="comments.length != 0">
      <mat-card class="example-card" *ngFor="let comment of comments">
        <mat-card-header>
          <mat-card-title>Comment #{{comment.number}} - {{comment.creationDate | date:'yyyy-MM-dd hh:mm:ss'}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ckeditor [editor]="Editor" [disabled]="true" [data]="comment.description" [config]="{toolbar: []}"></ckeditor>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="comments.length == 0">
      <p>No comments</p>
    </div>
  </mat-card-content>
</mat-card>